<div class="wrapper">
    <figure class="card">
      <img
        src="../../assets/Profile.png"
        width="640"
        height="640"
        alt=""
      />
      <figcaption>
        <blockquote>
          Hello, I'm <span>Malinga Samarakoon</span>.
        </blockquote>
        <cite>
          I am seasoned full-stack developer with expertise in various technologies. In my latest project, I leveraged my skills to design a dynamic application using Angular, a powerful front-end framework. The project incorporates the OpenWeather API to fetch real-time weather data, showcasing my ability to integrate external APIs seamlessly. As a full-stack developer, I bring a comprehensive understanding of both front-end and back-end technologies to create well-rounded solutions. This Angular application is a testament to my proficiency in building sleek and functional user interfaces, reflecting my commitment to delivering high-quality projects. With a strong foundation in Angular, I continue to explore innovative ways to enhance user experiences and stay at the forefront of web development trends.
        </cite>
      </figcaption>
    </figure>
  </div>