<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="project-info-box mt-0">
                <h5>Project Details</h5>
                <span class="mb-0">This is a simple weather app designed using Angular, utilizing the Open Cloud API to fetch weather data. The app's straightforward design ensures a user-friendly experience while offering accurate and up-to-date weather information. By seamlessly integrating with the Open Cloud API, users can access real-time weather data, enhancing the app's functionality. The clear and concise structure, coupled with the use of Angular, makes this weather app an efficient and user-centric tool for staying informed about current weather conditions. <br><br>The API keys can be described as follows:</span>
            </div>
            <div class="project-info-box">
                <p><b>coord</b> coord.lon Longitude of the location
                    coord.lat Latitude of the location</p>
                <p><b>weather.main</b> Group of weather parameters (Rain, Snow, Clouds etc.)</p>
                <p><b>main.temp</b> Temperature. Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit </p>
                <p><b>main.pressure</b> Atmospheric pressure on the sea level, hPa</p>
                <p><b>main.humidity</b> Humidity, %</p>
                <p><b>main.temp_min</b> Minimum temperature at the moment. This is minimal currently observed temperature (within large megalopolises and urban areas).</p>
                <p><b>main.temp_max</b> Maximum temperature at the moment. This is maximal currently observed temperature (within large megalopolises and urban areas).</p>
                <p><b>main.sea_level</b> Atmospheric pressure on the sea level, hPa</p>
                <p><b>main.grnd_level</b>  Atmospheric pressure on the ground level, hPa</p>
                <p><b>wind.speed </b>  Wind speed. Unit Default: meter/sec, Metric: meter/sec, Imperial: miles/hour</p>
                <p><b>clouds.all</b> Cloudiness, %</p>
                <p><b>rain.1h</b> (where available) Rain volume for the last 1 hour, mm. Please note that only mm as units of measurement are available for this parameter</p>
                <p><b>snow.1h</b> (where available) Snow volume for the last 1 hour, mm. Please note that only mm as units of measurement are available for this parameter</p>
                <p><b>sys.country </b>  Country code (GB, JP etc.)</p>
            </div>
        </div>
    </div>
</div>